.selectcomplete{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.selectcomplete >div {
    padding: 0.1rem;
}

.inputsearch{
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 1em;
    border-color: #cccccc;
}

.listadoproyectos .card{
    margin-bottom: 1em;
}